/* colors */
:root {
    --purple:   #230C45;
    --red:      #FF0059;
    --white:    #FFFFF7;
    --yellow:   #ffcf00;
    --black:    #030A0D;
    --green:    #004d57;
    --blue:     #2CE8F5;
    --grey:     #797366;
    --bone:     #EFEFE0;
}

::-moz-selection { /* Code for Firefox */
    color: var(--black);
    background:  var(--blue);
}

::selection {
    color: var(--black);
    background:  var(--blue);
}

html {
    --bg: var(--white);
    --text: var(--black);
    --highlight: var(--yellow);
    --link: var(--blue);
    --mark: var(--red);
    --lowlight: var(--bone);
}

p {
    padding-bottom: 0px;
}

.articles ul {
    /* remove bullet points */
    list-style: none;
}

img {
    /* smaller */
    /* width: 50%; */
    /* height:50%; */
    /* center */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project img {
    width: 100%;
    border: .25em solid var(--text);
    border-radius: .15em;
    float: right;
}


h1, h2, h3, h4, h5, h6 {
    /* center */
    width:100%;
    /* style */
    color: var(--text);
    text-decoration: underline 0.2em;
    text-underline-offset: 0.3em;
    text-decoration-color: var(--highlight);
    font-family: "Times New Roman", serif;
    font-weight: bold;
}

.project-text {
    width: 47%;
    float: left;
    margin: 1%;
}

.project-image {
    width: 47%;
    float: right;
    margin: 1% auto;
}

.project:after {
    content: "";
    display: table;
    clear: both;
}

li {
    padding: 5px ;
}

body {
    color: var(--text);
    background-color: var(--bg);
    width: 66% !important;
    margin: auto !important;
    font-family: "Consola", sans-serif;
    line-height:1.25rem;
}

blockquote {
    border-left: 0.5em solid var(--bone);
    margin: 1em 1em;
    padding: 1em 1em;
    padding-right: 2em;
}

pre {
    border-left: 0.5em solid var(--blue);
    margin: 1em 1em;
    padding: 0px 1em;
}
code {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}

abbr {
    text-decoration: underline 0.1em;
    text-decoration-color: var(--bone) !important;
}

a {
    color: var(--text);
    text-align: center;
    text-decoration: underline 0.2em;
    text-decoration-color: var(--link) !important;
    text-underline-offset: 0.3em;
}
a:visited {
    text-decoration-color: var(--lowlight) !important;
}
a.current {
    color: var(--text) !important;
    text-decoration-color: var(--highlight) !important;
}
a:hover {
    color: var(--link) !important;
    text-decoration-color: var(--link) !important;
}
a img {
    border-color: var(--text) !important;
    border-bottom-color: var(--link) !important;
}
a:visited img {
    border-color: var(--text) !important;
    border-bottom-color: var(--lowlight) !important;
}
a:hover img {
    border-color: var(--link) !important;
}

hr {
    margin-left: auto;
	margin-right: auto;
	padding-top: 0.5em;
	margin-bottom: 0.5em;
	border: none;
	border-bottom: 2px solid;
	height: 1px;
	color: var(--text);
}

/* nav bar sections */
.nav {
    /* width: 50% !important;     */
    /* position: fixed; */
    /* bottom: 0; */
}
nav {
    display: block;
    width: 100%;
    padding-bottom: 1em;
}
.nav-left {
    display: inline-block;
    float:left;
}
.nav-link-l {
    text-align: left;
    padding-right: 0.5em;
}

.nav-right {
    display: inline-block;
    float:right;
}
.nav-link-r {
    text-align: right;
    padding-left: 0.5em;
}

/* mobile overrides */
@media only screen and (max-width: 820px) {
    .project-text {
        width: 100%;
    }

    .project-image {
        width: 100%
    }

    .project img {
        float: left;
        width: 100%;
    }
    
    body {
        width: 90% !important;
    }
}
