/* colors */
:root {
    --purple:   #230C45;
    --red:      #FF0059;
    --white:    #FFFFF7;
    --yellow:   #ffcf00;
    --black:    #030A0D;
    --green:    #004d57;
    --blue:     #2CE8F5;
    --grey:     #797366;
    --bone:     #EFEFE0;
    --dblue: #192669;
}
@font-face {
    font-family: 'Text';
    src: url('/assets/Inter-V.ttf');
}
@font-face {
    font-family: 'Code';
    font-stretch: 80% 80%;
    src: url('/assets/BerkeleyMono.woff');
}

::-moz-selection { /* Code for Firefox */
    color: var(--black);
    background:  var(--blue);
}

::selection {
    color: var(--black);
    background:  var(--blue);
}

body {
    --bg: var(--white);
    --text: var(--black);
    --link: var(--blue);
    --deep: var(--purple);
    --low: var(--bone);
    --high: var(--yellow);
}

body.night {
    --bg: var(
    --black);
    --text: var(
    --bone);
    --link: var(
    --green);
    --deep: var(
    --black);
    --low: var(
    --purple);
    --high: var(
    --dblue);
}

.articles ul {
    /* remove bullet points */
    list-style: none;
}

img {
    display: block;
    margin: auto;
}

body {
    color: var(--text);
    background-color: var(--bg);
    font-family: "Text", sans-serif;
    font-size: 15px;
    font-stretch: 90%;
    line-height: 1.2rem;
    overflow-wrap: break-word;
    width: 65%;
    max-width: 700px;
    /* margin-left: 2rem; */
    margin: auto;
}

.project img {
    width: 100%;
    border: .25rem solid var(--text);
    border-radius: .15rem;
    float: right;
}

h1, h2, h3, h4, h5, h6 {
    width:100%;
    line-height: 2.0rem;
    font-family: "Code", mono;
    font-stretch: 90%;
    color: var(--text);
    text-decoration: underline 2px;
    text-underline-offset: 0.25rem;
    text-decoration-color: var(--high);
    font-weight: bold;
}

.project-image {
    width: 44%;
    float: right;
    margin: auto;
}

.project-text {
    width: 54%;
    float: left;
}

.project:after {
    content: "";
    display: table;
    clear: both;
}

li {
    padding: 5px ;
}

blockquote {
    border-left: 0.5rem solid var(--bone);
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    padding-right: 2rem;
}

xmp {
    border-left: 2px solid var(--high);
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    white-space: pre-wrap;
    font-family: 'Code', monospace;
    font-size: 12px;
    line-height: 1.0rem;
    font-weight: 625;
    word-wrap: break-word;
}
code {
    font-family: 'Code', monospace;
    font-size: 12px;
    line-height: 1.0rem;
    font-weight: 625;
    word-wrap: break-word;       
}

abbr {
    text-decoration: underline 0.1rem;
    text-decoration-color: var(--bone) !important;
}

/* links */
a {
    color: var(--text);
    text-align: center;
    text-decoration: underline 2px;
    text-underline-offset: .25rem;
    text-decoration-color: var(--link) !important;
}

h1 a {
    text-decoration: none;
}

.sections a:link {
    color: var(--text) !important;
    text-decoration-color: var(--high) !important;
}
.sections a:hover {
    background-color: var(--high) !important;
}

a:visited {
    text-decoration-color: var(--low) !important;
}
a.current {
    color: var(--text) !important;
    text-decoration-color: var(--high) !important;
}
a:hover {
    background-color: var(--link) !important;
}
a img {
    border-color: var(--text) !important;
    border-bottom-color: var(--link) !important;
}
a:visited img {
    border-color: var(--text) !important;
    border-bottom-color: var(--low) !important;
}
a:hover img {
    border-color: var(--link) !important;
}

/* tables */
table {
    width: 100%;
    table-layout: auto;
    border-spacing: 0;
    border-collapse:  collapse;
    text-align: left;
    box-shadow: 2px 2px var(--deep);
}

tr {
    border: solid 2px var(--low);    
}


td {
    padding: 0.3rem 0.2rem;
    border-right: solid 2px var(--low);
}

tr:nth-of-type(1) {
    width: 100%;
    background: var(--low);
    font-weight: bold;
    font-family: "Code", monospace;
}

th {
    padding: 0.3rem 0.3rem;
}

tr:nth-of-type(1) td {
    border: none;
}

/* rules */
hr {
    margin-left: auto;
	margin-right: auto;
	padding-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: none;
	border-bottom: 2px solid;
	height: 1px;
	color: var(--text);
}

body.night hr {
    color: var(--high);
}

/* nav bar sections */
nav {
    font-family: "Code", mono;
    display: block;
    width: 100%;
    padding-bottom: 1rem;
}

details {
    border-left: 0.5rem solid var(--low);
    margin: 0rem 1rem;
    padding: 1rem 1rem;
}

details summary {
    cursor: pointer;
}

summary > * {
    display: inline !important;
}

/* misc */
.w100 {
    width: 100%;
}
.w50 {
    width: 47%;
}
.w25 {
    width: 22.5%;
}
.w66 {
    width: 64%;
}
.w33 {
    width: 31%;
}

.btn {
    background: var(--low);
    font-weight: bold;
    font-family: "Code", monospace;
    padding: 4px 2px;
    box-shadow: 2px 2px var(--deep);
}

.btn:hover {
    background: var(--deep);
    /* margin-top: 2px; */
    /* margin-left: 2px; */
    /* box-shadow: -2px -2px var(--deep); */
}

.centered {
    margin: auto;
}

.centert {
    text-align: center;
}

.bg-deep {
    background-color: var(--deep);
}
.bg-low {
    color: var(--low);
}
.left {
    float:left;
}
.right {
    float:right;
}
.space-after {
    clear: both;
}

body .light { display: none;}
body .night { display: block;  text-decoration-color: var(--red) !important; }
body.night .light { display: block; text-decoration-color: var(--red) !important;}
body.night .night { display: none; }

/* mobile overrides */
@media only screen and (max-width: 920px) {
   body {
        width: 96% !important;
    }
}

@media only screen and (max-width: 650px) {
    .project-text {
        width: 100%;
    }

    .project-image {
        width: 100%
    }

    .project img {
        float: left;
        width: 100%;
    }   
 
    .w100 {
        width: 100%;
    }
    .w50 {
        width: 100%;
    }
    .w25 {
        width: 47%;
    }
    .w66 {
        width: 100%;
    }
    .w33 {
        width: 47%;
    }


    pre {
        margin: 1rem 0px;
    }
}
